In [2]:
ls

 Datenträger in Laufwerk C: ist OS
 Volumeseriennummer: 7AD3-37CE

 Verzeichnis von C:\Users\renes\Labs\Pandas

22.10.2021  14:26    <DIR>          .
22.10.2021  14:26    <DIR>          ..
22.10.2021  14:24    <DIR>          .ipynb_checkpoints
22.10.2021  10:12            88.430 health4all.csv
22.10.2021  14:24            31.971 Pandas.ipynb
22.10.2021  14:26               931 Untitled.ipynb
               3 Datei(en),        121.332 Bytes
               3 Verzeichnis(se), 302.240.108.544 Bytes frei

In [3]:
pwd

'C:\\Users\\renes\\Labs\\Pandas'

In [4]:
# look/access in one folder above via '..'

ls ..

 Datenträger in Laufwerk C: ist OS
 Volumeseriennummer: 7AD3-37CE

 Verzeichnis von C:\Users\renes\Labs

22.10.2021  10:13    <DIR>          .
22.10.2021  10:13    <DIR>          ..
22.10.2021  09:47    <DIR>          .ipynb_checkpoints
19.10.2021  13:52    <DIR>          Jupyter
22.10.2021  09:47             3.301 Map stuff.ipynb
21.10.2021  19:44    <DIR>          Numpy
22.10.2021  14:30    <DIR>          Pandas
21.10.2021  19:45    <DIR>          PreWork Review
19.10.2021  14:14    <DIR>          Python
               1 Datei(en),          3.301 Bytes
               8 Verzeichnis(se), 302.239.096.832 Bytes frei

In [5]:
import pandas as pd

In [8]:
pd.read_csv('../health4all.csv')

# never use absolute paths!

,Unnamed: 0,id,state,gender,dob,avggift,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_fam_income,avg_house_income,domain,profit,target_d
0,0,44060,FL,M,1901,28.000000,NaN,392,520.0,7,21975,6,16,430.0,466,C2,72.000000,100.0
1,1,96093,IL,M,0,5.666667,537.0,365,473.0,0,19387,1,89,415.0,410,T2,1.333333,7.0
2,2,43333,FL,F,2501,4.111111,725.0,301,436.0,3,18837,11,17,340.0,361,C2,0.888889,5.0
3,3,21885,NC,M,2208,27.277778,NaN,401,413.0,7,14014,1,74,407.0,399,T2,10.722222,38.0
4,4,190108,FL,F,0,6.000000,995.0,252,348.0,0,17991,5,6,280.0,316,C2,-1.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,30104,GA,M,5201,8.833333,364.0,246,325.0,0,9720,0,89,307.0,287,R2,6.166667,15.0
996,996,154614,CA,F,0,15.000000,1709.0,511,537.0,26,15138,9,68,518.0,527,T1,5.000000,20.0
997,997,57151,KY,F,3601,15.900000,875.0,311,326.0,0,7746,3,29,326.0,326,R1,10.100000,26.0
998,998,71425,MI,M,4401,6.000000,713.0,300,364.0,0,16833,2,88,313.0,323,T2,1.000000,7.0
999,1001,41384,FL,F,5107,9.428571,556.0,318,352.0,0,11779,16,22,358.0,320,S3,2.571429,12.0